<% content_for :head do %>
<%= javascript_include_tag 'pagination' %>
<% end %>

<h2 class="left">ตั๋วงาน</h2>

<% if @tickets.length < 1 -%>
  <br class="clear"/>
  <p>No tickets found.</p>
<% else -%>
<div id="tickets">
  <%= render 'tickets' -%>
</div>
<% end -%>